
/*header*/
.container-fluid {
	background-color: #0063B2FF;
	border-bottom: 5px solid #9cc3d5ff;
	border-right: 3px solid #9cc3d5ff;
	border-left: 3px solid #9cc3d5ff;

}
.container-fluid .text-center {
	width: 100%;
}
.container-fluid>.navbar-header {
	width:100%;
}
.navbar>.container-fluid .navbar-brand {
	width: 100%;
	text-align: center;
}

/*-------------------------------------------------*/
/*navigation bar*/
.storyboard-nav .sbframelist ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', Cursive;
	font-size: 16px;
	background-color: #5597C5;
	color: white;
}

.storyboard-nav .sbframelist ul li:hover {
	background-color: #9cc3d5ff;
	border: 3px solid #0063B2FF;
}
.storyboard-nav .sbframelist ul li.active {
	background-color: #0063B2FF;
	border: 3px solid darkblue;
}

/*-------------------------------------------------*/
/*body*/
.chart-wrapper-flex {
	border: 3px solid #9cc3d5ff;
}
.sbframe-commentary {
	border: 3px solid #9cc3d5ff
}

/*-------------------------------------------------*/
/*image*/

#slideshow {
  	margin-top: 5px;
  	position: relative;
/*  	animation: mymove 5s infinite;*/
}

#slideshow > div {
	position: absolute;
}

#mac {
	border: 3px solid #0063B2FF;
	width: 100%;

}