
/*header*/
.container-fluid {
	background-color: #0063B2FF;
	border-bottom: 5px solid #9cc3d5ff;
	border-right: 3px solid #9cc3d5ff;
	border-left: 3px solid #9cc3d5ff;

}
.container-fluid .text-center {
	width: 100%;
}
.container-fluid>.navbar-header {
	width:100%;
}
.navbar>.container-fluid .navbar-brand {
	width: 100%;
	text-align: center;
}

/*-------------------------------------------------*/
/*navigation bar*/
.storyboard-nav .sbframelist ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', Cursive;
	font-size: 16px;
	background-color: #5597C5;
	color: white;
}

.storyboard-nav .sbframelist ul li:hover {
	background-color: #9cc3d5ff;
	border: 3px solid #0063B2FF;
}
.storyboard-nav .sbframelist ul li.active {
	background-color: #0063B2FF;
	border: 3px solid darkblue;
}

/*-------------------------------------------------*/
/*body*/
.chart-wrapper-flex {
	border: 3px solid #0063B2FF;
}
.sbframe-commentary {
	border: 3px solid #0063B2FF
}

#text {
	font-size: 16px;
	font-family: 'Arial', sans-serif; 
	padding-right: 10%;
	padding-left: 10%;
}
#commentary {
	font-size: 16px;
	font-family: 'Arial', sans-serif; 
	padding-left: 5%;
	padding-top: 10%;
}

h1 {
	font-weight: bold;
	font-family: 'Georgie';
	padding-top: 3%;


}


/*-------------------------------------------------*/
/*image*/

#slideshow {
	background-color: #0063B2FF;
	height: 100%;
  	vertical-align: middle;
  	position: relative;
}

#slideshow > div {
	position: absolute;
}

#mac {
	border-bottom: 8px solid #FFFFFF;
	width: 100%;
	max-height: 100%;

}